@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

head{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #F8F9FA;
	background-image: url("../Images/background.gif");
}
a{
    color: #17A2B8;
}
a:hover{
    color:#007BFF
}

.logo{
	border-radius: 100%;
	animation-name: float;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
  }